<form action="" method="get" class="additional-filter-form">
    {% csrf_token %}

    {% if user.is_authenticated %}
        {% if user.is_superuser %}
            <div>
                <div class="col-auto my-1 my-add-checkbox-label">
                    <label class="mr-sm-2" for="type">За одобрение</label>
                    {{ filterinput.pending_approval }}
                </div>
            </div>
        {% else %}
            <div>
                <div class="col-auto my-1 my-add-checkbox-label">
                    <label class="mr-sm-2" for="type">Моите обяви</label>
                    {{ filterinput.my_add }}
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div class="form-row align-items-center">
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="type">Продажба/Наем</label>
            {{ filterinput.sale_or_rent }}
        </div>
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="type">Вид на имота</label>
            {{ filterinput.type_premise }}
        </div>
        <div class="col-auto my-1">
            <label class="mr-sm-2" for="number_rooms">Брой стаи</label>
            {{ filterinput.number_rooms }}
        </div>

        <div class="col-auto my-1">
            <label class="mr-sm-2" for="sort">Сортирай по</label>
            {{ filterinput.sort }}
        </div>
    </div>
    <div class="filter-btn-wrapper">
        <button type="submit" class="btn btn-info search-btn-wrapper">Търси</button>
    </div>
</form>