<div class="location-filter-wrapper">
    {% if user.is_authenticated %}
        <div class="create-add">
            <a href="{% url 'create ad' %}" class="btn btn-info">Добави обява</a>
        </div>
    {% endif %}


    <div class="filter-section">
        <section class="filter-section-wrapper">
            <span>Област</span>
<div class="dropdown">
  <button class="btn btn-sm btn-outline-secondary dropbtn">{{ district.name }}</button>
  <div class="dropdown-content">
    <a href="{% url 'load home' %}">Всички</a>
  </div>
</div>
        </section>
        <section class="filter-section-wrapper">
            <span>Град/Село</span>
<div class="dropdown">
 <button class="btn btn-sm btn-outline-secondary dropbtn">{{ city.name }}</button>
  <div class="dropdown-content">
    <a href="{% url 'load district' district.id %}">Всички</a>
  </div>
</div>
        </section>
        <section class="filter-section-wrapper">
            <span>Квартал</span>
<div class="dropdown">
 <button class="btn btn-sm btn-outline-secondary dropbtn">{{ area.name }}</button>
  <div class="dropdown-content">
    <a href="{% url 'load city' city.id %}">Всички</a>
  </div>
</div>
        </section>
    </div>
</div>