<div class="filter-section">
    {% include 'filter_section/partial_filter_section_labels.html' %}
<div class="dropdown">
    <button class="btn btn-sm btn-outline-secondary dropbtn">{{ district.name }}</button>
    <div class="dropdown-content">
        <a href="{% url 'load home' %}">Всички</a>
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-sm btn-outline-secondary dropbtn">Всички</button>
    <div class="dropdown-content">
        {% for city in cities %}
            <a href="{% url 'load city' city.id %}">{{ city.name }}</a>
        {% endfor %}
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-sm btn-outline-secondary dropbtn">Всички</button>
    <div class="dropdown-content">
{#        {% for area in areas %}#}
{#            <a href="{% url 'load area' area.id %}">{{ area.name }}</a>#}
{#        {% endfor %}#}
    </div>
</div>
</div>