{% load static %}

<div class="album py-5 bg-light">
    {% include 'filter_section/additional_filter.html' %}
    <div class="container">
        <div class="row products-row">
            {% if page_obj %}
                {% for ad in page_obj %}
                    <div class="col-md-4" id="{{ ad.id }}">
                        <div class="card mb-4 box-shadow card-container">
                            {% if ad.image_one %}
                                <img class="card-img-top" src="{{ ad.image_one.url }}" alt="Missing Picture">
                                <span class="span-brand-label"><img class="details-brand-label"
                                                                    src="{% static 'img/RealEstateBrand.jpg' %}"
                                                                    alt="Real Estate"></span>
                            {% else %}
                                <img class="card-img-top" src="{% static 'img/RealEstate_pic.png' %}" alt="Picture">
                            {% endif %}
                            <span class="reference-number-text">№ {{ ad.id }}</span>
                            <div class="card-body">
                                <span class="counter-seen">Видяна: {{ ad.counter_seen }}</span>

                                <h5 class="card-title">{{ ad.type_premise }} {{ ad.price }} <i
                                        class="fas fa-euro-sign euro-sign"></i></h5>
                                <p class="card-text">{{ ad.number_rooms }}, {{ ad.area }}, {{ ad.square_meters }}
                                    кв.м. </p>
                                <p class="card-text text-muted">{{ ad.city }} </p>
                                <p class="card-text box-body-card-text">{{ ad.description|truncatewords:30 }}...</p>
                                <span class="last-modified">
                                    <small class="text-muted">Обновена: {{ ad.date_modified|date:"SHORT_DATE_FORMAT" }}</small>
                                </span>
                                {% if not ad.approved %}
                                    <span class="pending-approval">
                                    <small class="pending-approval-text">Чака за одобрение</small>
                                </span>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-between align-items-center btn-group-details-edit-delete">
                                <div class="btn-group">
                                    <a href="{% url 'show details' ad.pk %}"
                                       class="btn btn-sm btn-outline-secondary">Разгледай</a>
                                    {% if ad.can_modify %}
                                        <a href="{% url 'edit ad' ad.pk %}"
                                           class="btn btn-sm btn-outline-secondary">Редактирай</a>
                                        <a href="{% url 'delete ad' ad.pk %}"
                                           class="btn btn-sm btn-outline-secondary"
                                           onclick="return confirm('Сигурни ли сте. че искате да изтриета обява №{{ ad.id }}');">Изтрий</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% elif  pending_approval %}
                <p1 class="no-ads-available">Няма намерени чакащи за одобрение обяви, които да отговарят на зададените
                    критерии
                </p1>
            {% elif request.GET.my_ad %}
                <p1 class="no-ads-available">Няма намерени ваши обяви, които да отговарят на зададените
                    критерии
                </p1>
            {% else %}
                <p1 class="no-ads-available">Няма намерени одобрени обяви, които да отговарят на зададените
                    критерии
                </p1>
            {% endif %}
        </div>
    </div>
</div>

