{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/base.css' %}">
    {% block site_style %}
        <link rel="stylesheet" href="{% static 'style/filter_section.css' %}">
        <link rel="stylesheet" href="{% static 'style/common_ads.css' %}">
    {% endblock %}
    <script src="../static/scripts/javascript.js"></script>

    {% block site_script %}
    {% endblock %}
</head>
<body class="root">
<div class="header-container">
    <header>
        <div class="row">
            <div class="col-6">
                <a class="navbar-brand">REAL ESTATE</a>
            </div>
            <div class="col-6">

                <ul class="top-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">Здравей, {{ user.username }}</li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Изход</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Вход</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
        <nav class="nav-wrapper">
            <ul class="'nav-list">
                <li class="nav-list-item">
                    <a href="{% url 'load about us' %}">За сайта</a></li>
                <li class="nav-list-item">
                    <a href="{% url 'load home' %}">Продавам/Отдавам</a></li>
                <li class="nav-list-item">
                    <a href="{% url 'looking for' %}">Търся си</a></li>
                <li class="nav-list-item">
                    <a href="">Управление на обяви</a></li>
                <li class="nav-list-item">
                    <a href="{% url 'load general rules' %}">Общи условия</a></li>
            </ul>
        </nav>
    </header>
</div>
<div class="content">
    {% block site_content %}
    {% endblock %}

</div>


</body>
</html>