<div class="pagination-wrapper">
    <nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link previous" href="?page={{ page_obj.previous_page_number }}&{{ get_copy.urlencode }}">Предишна</a>
            </li>
            <li class="page-item"><a class="page-link previous"
                                     href="?page={{ page_obj.previous_page_number }}&{{ get_copy.urlencode }}">{{ page_obj.previous_page_number }}</a>
            </li>

        {% else %}
            <li class="page-item disabled">
                <a class="page-link previous" href="">Предишна</a>
            </li>
        {% endif %}
        <li class="page-item"><a class="page-link currently-active"
                                 href="?page={{ page_obj.number }}&{{ get_copy.urlencode }}">{{ page_obj.number }}</a></li>
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link next"
                                     href="?page={{ page_obj.next_page_number }}&{{ get_copy.urlencode }}">{{ page_obj.next_page_number }}</a>
            </li>

            <li class="page-item">
                <a class="page-link next" href="?page={{ page_obj.next_page_number }}&{{ get_copy.urlencode }}">Следваща</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link next" href="">Следваща</a>
            </li>
        {% endif %}
    </ul>
</nav>
</div>