.about-us-wrapper {
    margin-top: 20px;
    margin-left: 20px;

}

.about-us-text h5, .rules-card-title, .rules-card-title-contacts {
    font-family: 'Kalam', cursive;
    padding-bottom: 10px;
}

.about-us-section {
    padding-top: 20px;
    padding-bottom: 20px;

}
.rules-card-title-contacts {
    padding-top: 30px;
}
.about-us-contact-info {
    margin: 0 5px;
    font-family: 'Kalam', cursive;
    color: blue;
}