@import'https://use.fontawesome.com/releases/v5.10.2/css/all.css';

* {
    margin: 0;
    padding: 0;
}

.root{
    font-family: 'Roboto', sans-serif;
}

/* header */

.header-container{
    top: 0;
     box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);

}

header {
    background-color: rgb(253, 236, 166);
    border-radius: 5px;
    padding: 30px;
}
.header-wrapper, .top-nav, .nav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

}
.header-wrapper {
    justify-content: space-between;

}

.navbar-brand {
    font-family: 'Kalam', cursive;
    font-size: 2em;
    text-shadow: 2px 2px lightblue;

}

.user-name {
    font-family: 'Kalam', cursive;
    font-size: 1.5em;
}
.nav-list {
    margin-bottom: 0;
}

.nav-list-item {
    list-style-type: none;
}
.nav-list-item a{
    color: black;
    margin-right: 20px;
    text-decoration: none;
}


.navbar-brand:hover, a.nav-link:hover, .nav-list-item a:hover{
    color: darkgrey;
}

#active {
    font-weight: bold;
}


.content {
    margin-top: 10px;
}

/*paginator */

.pagination-wrapper {
    margin-top: 20px;
}
.currently-active {
    background-color: rgb(23, 162, 184);
    color: white;
    font-weight: bold;
}

.next, .previous {
    color: rgb(23, 162, 184);
}

