.content {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 50px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
}

.filter-section-labels {
    padding-top: 10px;
    padding-right: 20px;
    margin-bottom: 0;

}

.filter-section-labels span {
    margin-right: 40px;
    margin-left: 50px;
}

.filter-section {
    margin-left: 970px;
    height: 100px;

}

.dropbtn {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 160px;
    height: 30px;
    background-color: rgba(253, 236, 100, 0.5);
}


.dropdown {
  position: relative;
  display: inline-block;


}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
        background-color: rgba(253, 236, 100, 0.1);
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

/* additional filter form */

.additional-filter-form {
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: -40px;
}

