.search-for-client{
    padding: 20px;
    margin-left: -180px;
}

.search-for-client p{
    margin-top: 20px;
}
.div-create-search-for-client{
    margin-left: -140px;
    padding: 10px 0;
}

a.btn-create-search-for-client {
    width: 100px;
    height: 44px;
}

.wrapper-create-search-for-client {
    width: 800px;
    margin-top: 30px;
    margin-left: 30px;
}