{% extends 'common/base.html' %}
{% load static %}

{% block site_style %}
    <link rel="stylesheet" href="{%  static 'style/about_us.css' %}">
{% endblock %}

{% block site_content %}
    <div class="about-us-wrapper">
        <div class="card" style="width: 80rem;">
            <div class="card-body">
                <h5 class="card-title rules-card-title">Търсите да купите или наемете имот?</h5>
                <h6 class="card-subtitle mb-2 text-muted">Заповядайте да разгледате нашите
                    <a href="{% url 'load home page' %}">Топ оферти</a>
                </h6>

            </div>
            <div class="card-body">
                <h5 class="card-title rules-card-title">Имате имот, който искате да продадете или отдадете под наем?
                    Публикувате обява при нас!</h5>
                <h6 class="card-subtitle mb-2 text-muted">За целта е необходимо да се регистрирате в нашия сайт.
                    След като веднъж сте се регистрирали, от вашият профил ще можете да публикувате и редактирате вашите
                    обяви.</h6>
                <p class="card-text rules-wrapper-text text-muted">
                    <a href="" class="btn btn-info">Регистрация</a>
                    <a href="" class="btn btn-info">Вход</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}