{% extends 'common/base.html' %}
{% load static %}

{% block site_style %}
    <link rel="stylesheet" href="{%  static 'style/about_us.css' %}">
{% endblock %}

{% block site_content %}
    <div class="about-us-wrapper">
        <div class="card" style="width: 90rem;">
            <div class="card-body">
                <h5 class="card-title rules-card-title">Търсите да купите или наемете имот?</h5>
                <p class="card-text rules-wrapper-text text-muted">
                    Заповядайте да разгледате нашите
                    <a href="{% url 'home' %}">обяви</a>
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-title rules-card-title">Имате имот, който искате да продадете или отдадете под наем?
                    Публикувате обява при нас!</h5>
                <p class="card-text rules-wrapper-text text-muted">
                    За целта е необходимо да се регистрирате в нашия сайт.
                    След като веднъж сте се регистрирали, от вашият профил ще можете да публикувате и редактирате вашите
                    обяви.
                </p>
                <p class="card-text rules-wrapper-text text-muted">
                    <a href="{% url 'register' %}" class="btn btn-sm btn-outline-secondary">Регистрация</a>
                    <a href="{% url 'login' %}" class="btn btn-sm btn-outline-secondary">Вход</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}