{% extends 'common/base.html' %}
{% load static %}
{% block site_style %}
    <link rel="stylesheet" href="{% static 'style/register_login.css' %}">
{% endblock %}
{% block site_content %}
    <div class="container-register">
    <h5 class="register-title">Регистрация</h5>
    <form action="{% url 'register' %}" method="post" class="form-register">
    {% csrf_token %}
        {{ register_form.errors|striptags }}
       {{ register_form.username.label }}
       {{ register_form.username }}

       {{ register_form.password1.label }}
       {{ register_form.password1 }}
       {{ register_form.password2.label }}
       {{ register_form.password2 }}
        <button class="btn btn-info btn-register-submit">Запази</button>
    </form>
    </div>
{% endblock %}